.meetings-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f1f2f7;
  &__header {
    color: #ff6700;
  }
  &__contents {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
}
