.login-modal {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__title {
    text-align: center;
    font-size: 24px;
    margin: 0 0 16px;
  }
  &__form-group {
    display: flex;
    flex-direction: column;
    &__label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    &__input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}
